/DocumentReader.class
/DragCircle$GazeListener.class
/DragCircle$MouseDrag.class
/DragCircle.class
/DrawText.class
/GazeListener.class
/MainClass.class
/StringMetrics.class
/WordSelection$GazeListener.class
/WordSelection.class
/DragCircle$1.class
/WordSelection$1.class
/WordSelection$2.class
/WordSelection$3.class
/WordSelection$4.class
