/DocumentReader.class
/DragCircle$GazeListener.class
/DragCircle$MouseDrag.class
/DragCircle.class
/DrawText.class
/GazeListener.class
/MainClass.class
/StringMetrics.class
/WordSelection$GazeListener.class
/WordSelection.class
/DragCircle$1.class
/WordSelection$1.class
/WordSelection$2.class
/WordSelection$3.class
/WordSelection$4.class
/EyetrackerWordSelection$1.class
/EyetrackerWordSelection$GazeListener.class
/EyetrackerWordSelection.class
/MainClass$1.class
/MouseWordSelection$1.class
/MouseWordSelection$2.class
/MouseWordSelection.class
